#section-beebly {
  background-color: #A8D6E7;

  .beebly-container-inner {
    min-height: 1500px;
  }

  .cute-bee {
    position: absolute;
    top: 150px;
    right: 120px;
    width: 310px;
    height: auto;
  }
}