@use "sass:color";

#section-beebly {
  background-color: #f1d99d;
  color: #000;
  overflow: hidden;
  width: 100%;

  .beebly-container-outer {
    position: relative;
    min-height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    z-index: 1;
  }

  .beebly-container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    z-index: 10;

    a.beebly-link {
      font-size: 20px;
      color: #1473E6;
      font-weight: bold;
      margin-top: 30px;
      display: block;
    }
  }

  .beebly-container-inner {
    padding: 160px 0 0;
    p {
      max-width: 430px;
      margin-bottom: 1.5em;
    }
  }

  .beebly-cursor {
    position: absolute;
    top: 75%;
    right: 75%;
    width: 45px;
    height: auto;
    z-index: 10;
  }

  .bee-path {
    position: absolute;
    top: 330px;
    right: 60px;
    z-index: 999;
    display: none;
    visibility: hidden;
    path {
      stroke-width: 1px;
      stroke: #000;
      fill: none;
    }
  }

  .bounding-box {
    display: block;
    position: absolute;
    bottom: 100%;
    margin-bottom: -484px;
    right: 0;
    width: 310px;
    height: auto;
    border: 3px solid #0095FF;
    z-index: 101;
    &.hide-me {
      border-color: transparent;
      &:before { background: none; }
      &:after,
      span { opacity: 0; }
    }

    span:nth-child(9) {
      position: absolute;
      content: "";
      right: 100%;
      top: 50%;
      width: 35%;
      height: 2px;
      margin-top: -1px;
      background: #0095FF;
      z-index: 1;
    }
    span:nth-child(10) {
      position: absolute;
      content: "";
      right: 135%;
      top: 50%;
      width: 26px;
      height: 26px;
      margin: -13px -13px 0 0;
      background: #fff;
      border: 2px solid #0095FF;
      border-radius: 999px;
      z-index: 2;
    }

    .beebly-bee {
      width: 100%;
      height: auto;
    }

    span {
      width: 28px;
      height: 28px;
      border: 2px solid #0095FF;
      background: #fff;
      position: absolute;
      z-index: 2;
    }

    span:nth-child(1) { left: 0; top: 0; margin: -16px 0 0 -16px; }
    span:nth-child(2) { left: 50%; top: 0; margin: -16px 0 0 -15px; }
    span:nth-child(3) { left: 100%; top: 0; margin: -16px 0 0 -12px; }
    span:nth-child(4) { left: 100%; top: 50%; margin: -13px 0 0 -12px; }
    span:nth-child(5) { left: 100%; top: 100%; margin: -13px 0 0 -12px; }
    span:nth-child(6) { left: 50%; top: 100%; margin: -13px 0 0 -15px; }
    span:nth-child(7) { left: 0; top: 100%;  margin: -13px 0 0 -16px;}
    span:nth-child(8) { left: 0; top: 50%; margin: -13px 0 0 -16px; }
  }

  .beebly-ground {
    width: 100%;
    position: absolute;
    bottom: -900px;
    right: 0;

    .beebly-jar {
      display: block;
      width: 1340px;
      height: auto;
      position: absolute;
      top: -543px;
      right: -30px;
      z-index: 80;
      transform: scale(.98);

      .bj-font {
        position: absolute;
        top: 328px;
        left: 534px;
        font-size: 54px;
        line-height: 54px;
        color: #433333;

        & > * {
          position: absolute;
          top: 0;
          left: 0;
          mark {
            background: rgba(68,68,68,.7);
            color: rgba(170,170,170,.7);
            backdrop-filter: invert(100%);
          }
        }

        .bjf-0 {
          font-family: relation-one,sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 120%;
        }

        .bjf-1 {
          font-family: relation-one,sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 120%;
        }

        .bjf-2 {
          font-family: alga,serif;
          font-weight: 700;
          font-style: normal;
        }

        .bjf-3 {
          font-family: sofia-pro,sans-serif;
          font-weight: 500;
          font-style: normal;
          letter-spacing: -2.5px;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .beebly-flora {
      position: absolute;
      bottom: 145px;
      right: 0;
      width: 100%;
      height: 750px;
      overflow: hidden;
      z-index: 2;

      .stem {
        position: absolute;
        display: block;
        bottom: 0;
        width: 140px;
        z-index: -1;
        transform-origin: bottom center;

        svg {
          width: 100%;
          height: 100%;
          path {
            stroke-width: 14;
          }
        }

        &.stem-1 {
          left: 76%;
          z-index: 5;
          #curve1 {
            stroke: mix(#f1d99d,#FF6933, 60%);
          }
        }

        &.stem-2 {
          left: 64.5%;
          z-index: 10;
          #curve2 {
            stroke: mix(#f1d99d,#3D9EE2, 60%);
          }
        }

        &.stem-3 {
          left: 51%;
          #curve3 {
            stroke: mix(#f1d99d,#FFA7B2, 20%);
          }
        }

        &.stem-4 {
          left: 35%;
          #curve4 {
            stroke: mix(#f1d99d,#61B980, 20%);
          }
        }

        &.stem-5 {
          left: 17%;
          #curve5 {
            stroke: mix(#f1d99d,#a8d6e7, 50%);
          }
        }
      }

      .flower {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 0; 
        top: -100px;
        transform: translateX(-50%);
        z-index: 2;
      }

      .beebly-flower-1 { 
        .pinwheel {
          animation: flowerPinwheel 40s infinite linear;
        }
        .st0 {
          fill: mix(#f1d99d,#FF6933, 60%);
        }
      }

      .beebly-flower-2 {
        .st2 {
          fill: mix(#f1d99d,#3D9EE2, 60%);
        }
      }

      .beebly-flower-3 {
        width: 240px;
        height: 240px;
        top: -120px;
        .st3 {
          fill: mix(#f1d99d,#FFA7B2, 20%);
        }
      }
  
      .beebly-flower-4 { 
        .st4 {
          fill: mix(#f1d99d,#61B980, 20%);
        }
      }

      .beebly-flower-5 { 
        width: 180px;
        height: 180px;
        top: -90px;
        .st5 {
          fill: mix(#f1d99d,#a8d6e7, 50%);
        }
      }

      svg:not(.curvePath) {
        width: 200px;
        height: auto;
        position: absolute;
        z-index: 2;

        .st1 {fill:#f1d99d;}
      }
    }

    .beebly-dirt {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;
      height: 150px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 3;

      &.beebly-dirt-extra {
        left: 100%;
        margin-left: -1px;
        span:nth-child(1) { width: 10%; background-color: #3D9EE2; }
      }
      span:nth-child(1) { width: 5%; background-color: #934044; }
      span:nth-child(2) { width: 15%; background-color: #FF6933; }
      span:nth-child(3) { width: 10%; background-color: #FFA7B2; }
      span:nth-child(4) { width: 25%; background-color: #A8D6E7; }
      span:nth-child(5) { width: 18%; background-color: #3D9EE2; }
      span:nth-child(6) { width: 10%; background-color: #ADB1D8; }
      span:nth-child(7) { width: 12%; background-color: #61B980; }
      span:nth-child(8) { width: 5%; background-color: #005041; }
    }
  }
}

.beebly-link {
  color: #1473E6;
  font-weight: bold;
}

@keyframes flowerPinwheel {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes flowerSwayed {
  0% { left: 60px; }
  100% { left: 200px; }
}

