#section-brushes {
  z-index: 20;
  pointer-events: none;
  .brushes {
    &-container {
      width: 100%;
      height: 100vh;
    }
  }
}

.fixed {

  &-section {
    &.brushes {
      z-index: 1;

      .brushes {
        &-video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include willchange(o);
        }
        &-content-container {
          position: absolute;
          bottom: 13.5vh;
          left: $content-spacing-left;
          width: 53vw;
        }
        &-content-inner {
          color: black;
          position: relative;
        }
        &-intro {
          margin-top: 20px;
          width: 31vw;
        }
        &-button-container {
          margin-top: 40px;
          @include willchange(o);
          @include breakpoint(short){
            margin-top: 20px;
          }
        }
        &-button {
          border: 1px solid $color--gray-dk;
          color: $color--gray-dk;
          background-color: transparent;
          @include buttonHoverLt;
        }
      }
    }
  }
}