
#section-intro {
  .intro {
    &-container {
      position: relative;
      z-index: 10;
      height: 100vh;
      overflow: hidden;
    }
    &-video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    &-video-gradient {
      z-index: 5;
    }
    &-content-container {
      position: absolute;
      z-index: 10;
      width: 33vw;
      top: 12vh;
      left: 9vw;
    }
    &-ps-logo {
      width: 4.875vw;
      @include breakpoint(short){
        width: 3.5vw;
      }
    }
    &-title {
      font-size: 5rem;
      line-height: 1em;
      letter-spacing: -.2px;
      margin-top: 4.5vh;
      @include breakpoint(laptop_sm){
        font-size: 4rem;
      }
      @include breakpoint(short){
        font-size: 4rem;
        margin-top: 3vh;
      }
    }
    &-p {
      //font-size: 2rem;
      font-size: 1.5rem;
      letter-spacing: -.2px;
      font-weight: 300;
      margin-top: 20px;
      @include breakpoint(laptop_sm){
        font-size: 1.2rem;
      }
    }
    &-buttons {
      margin-top: 7vh;
      display: flex;
      @include breakpoint(short){
        margin-top: 4vh;
      }
    }
    &-button {
      height: 44px;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include adobeClean;
      font-weight: bold;
      font-size: 1.25rem;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 22px;
      @include breakpoint(laptop_sm){
        font-size: 1rem;
      }
      &.button-lt {
        @include buttonHoverLt;
      }
      &.buy {
        background-color: $color--button-active;
        border-color: $color--button-active;
        margin-left: 20px;
        @include buttonHoverBlue;
      }
    }
    &-subtext {
      margin-top: 20px;
      //font-size: 1.5625rem;
      font-size: 1.17rem;
      font-weight: 300;

    }
  }
}



.header {
  &-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
    will-change: transform;
    transition: transform 200ms linear;
    &:not(.headroom--top){
      position: fixed;
    }
    &.headroom--pinned {
      transform: translateY(0%);
    }
    &.headroom--unpinned {
      transform: translateY(-100%);
    }
  }

}