#section-ipad {
  z-index: 40;
  .ipad {
    &-container {
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    &-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-content-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding-left: 9.7vw;
      width: 42vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $gradient-shade-dark;
      @include breakpoint(laptop){
        width: 50vw;
      }
    }
    &-intro {
      margin-top: 20px;
      //width: 25.5vw;
      max-width: 30vw;
    }
    &-button-container {
      margin-top: 5vh;
      display: flex;
      align-items: center;
      @include willchange(o);
    }
    &-app-store-logo {
      width: 120px;
    }
    &-learn-more-link {
      color: $color--white;
      margin-left: 25px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}