body:not(.loading){
  .wn-cards__card--hide {
    opacity: 0;
    transform: translateY(25%);
  }
}

.wn-cards {
  color: black;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 30px;

  &__headline { //
    margin: 100px auto 0 auto;
  }

  &__section-intro {
    margin-bottom: 60px;
    text-align: center;

  }

  &__subhead {
    color: #001D26;
    font-size: 1.25rem;
    font-weight: $fw-body;
    margin: 20px 0 0 10px;
    text-transform: uppercase;
  }

  &__copy {
    color: #001D26;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 10px;
  }

  &__grid {
    display: flex;
    // columns: auto 3;
    // column-gap: 20px;
  }
  
  &__col {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  &__card-img-ctnr {
    border-radius: 13px;
    display: block;
    overflow: hidden;
  }
  
  &__card-img-ctnr img {
    display: block;
    transform: scale3d(1, 1, 1);
    transition: transform 1.5s ease;
  }

  &__card {
    // break-inside: avoid;
    display: inline-block;
    opacity: 1;
    padding-bottom: 60px;
    transform: translateY(0);
    transition: transform 1.5s ease, opacity 1.5s ease;
	
    &:hover img {
      transform: scale3d(1.03, 1.03, 1.03);
    }

    &.delay1{
      transition-delay: .25s;
    }

    &.delay2{
      transition-delay: .5s;
    }

    &.stagger--1 {
      display: inline-block;
      margin-top: 150px;
    }

    &.stagger--2 {
      display: inline-block;
      margin-top: 75px;
    }
  }
}

.wn-grid {
  color: black;
  max-width: 1082px;
  padding: 86px 30px;
  margin: 0 auto;
}

.adobe-select {
  @include adobeClean;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ebebeb;
  background-image: url(../../assets/images/whatsnew/externals/chevron-down.png);
  background-position: center right 16px;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  appearance: none;
  font-size: 28px;
  font-weight: $fw-body;
  padding: 10px 54px 14px 22px;
  margin: 0;
  max-width: 100%;
  transition-duration: 0.1s;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.1s;
}

.adobe-article-grid {
  box-sizing: content-box;

  &__header {
    text-align: center;
  }

  &__actions {
    text-align: center;
  }
  &__filters {
    margin-top: 50px;
  }
  &__filter {
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-inline-box;
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    margin-right: 20px;

    & > span {
      font-size: 1.625rem;
      font-weight: 700;
      margin-right: 10px;
    }
  }

  &__grid-container {
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: flex-start;
    display: -webkit-box;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  &__grid {
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    align-items: stretch;
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 -64px;
    padding: 32px;
    width: 100%;

    &-cell {
      box-sizing: border-box;
      padding: 32px;
      width: 50%;
    }
  }

  .adobe-article {
    height: 100%;
    position: relative;

    &__background-container {
      overflow: hidden;
    }

    &__background {
      background-color: #d6d9e0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 100%;
      transition: transform 1.5s ease;
    }

    &__content {
      background-color: #ffffff;
      bottom: 0;
      color: #505050;
      left: 0;
      padding: 32px 20px;
      position: absolute;
      width: 60%;
    }

    &__link {
      display: block;
    }

    &__topline {
      font-size: 1.1875rem;
      font-weight: 900;
      line-height: 1.5;
      margin: 0 0 10px;
      text-transform: uppercase;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: $fw-body;
      letter-spacing: 0;
      line-height: 1.25;
      margin: 0 0 10px;
    }
  }

  .adobe-article__link:active, .adobe-article__link:focus, .adobe-article__link:hover {
    .adobe-article__background {
      transform: scale(1.03);
    }

    .adobe-article__title {
      text-decoration: underline;
    }
  }
}

.wn-inc {
  background: #F5F5F5;
  color: black;
  padding: 70px 30px;

  &__ctnr {
    margin: 0 auto;
    max-width: 1160px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    align-items: flex-start;
    display: flex;
    margin: 25px 0;
    width: calc(33.333% - 50px);
  }

  &__subtitle {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__icon {
    margin-right: 20px;
    width: 48px;
  }

  &__actions {
    text-align: center;

    a {
      color: #1473E6;
    }
  }
}

.wn-plans {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1160px;
  padding: 90px 30px;

  .section-title {
    font-size: 2.25rem;
    margin: 0;
  }
}

.adobe-plan-grid__grid {
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  align-items: stretch;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -40px;
  padding: 20px;
}

.adobe-plan-grid__actions {
  text-align: center;
}

.adobe-plan-grid__grid-cell {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}

.adobe-plan {
  border-color: #e1e1e1;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: black;
  height: 100%;
  font-size: 16px;
  letter-spacing: 0;
  position: relative;
  text-align: center;

  &__content {
    box-sizing: border-box;
    line-height: 1.3;
    padding: 20px 16px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 10px;
  }

  &__description {
    line-height: 1.4em;
    margin: 0 0 10px;
    opacity: 0.8;
  }

  &__price {
    font-weight: 700;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #1473e6;
  }
}

.wn-products {
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: stretch;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 30px 86px;
  position: relative;
  width: 100%;

  .section-title {
    font-size: 1.75rem;
  }
}

.adobe-card-block__grid {
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  align-items: stretch;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -40px;
  padding: 0 20px;

  &-item {
    box-sizing: border-box;
    padding: 20px;
    width: 33.33333%;
  }
}

.adobe-card {
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  align-items: stretch;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #2c2c2c;
  display: -webkit-box;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: flex-start;
  position: relative;

  &__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56.25%;
  }

  &__content {
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    align-items: stretch;
    display: -webkit-box;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    justify-content: flex-start;
    position: relative;
    padding: 40px 20px 20px;
  }

  &__devices {
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 5px 0;
    position: absolute;
    right: 15px;
    top: 0;
  }

  &__device {
    box-sizing: content-box;
    height: 20px;
    padding: 5px;
    width: auto;
  }

  &__icon {
    height: auto;
    left: 20px;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
  }

  &__caption {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0 0 20px;
  }

  &__actions {
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    align-items: center;
    border-top: 1px solid #dddddd;
    display: -webkit-box;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 20px 0 0;
  }
}

.wn-cc {
  color: black;
  text-align: center;

  &__icon {
    width: 75px;
  }

  &__title {
    line-height: 1em;
    margin: 25px 0;
  }

  &__desc {
    font-size: 1.25rem;
    margin: 0 auto;
    max-width: 520px;
  }

  a {
    color: #1473E6;
    display: inline-block;
    margin-top: 30px;
  }
}

.filter--experienced {
  display: none;
}

.adobe-article-grid__grid-cell {
  display: none;
}