* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body {
  overflow-x: hidden;
  @include breakpoint(laptop_xs){
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

a {
  text-decoration: none;
  color: $color--link;
}

body {
  margin: 0;
  background-color: $color--bg;
  @include adobeClean;
  color: $color--body;
  &.loading {
    overflow: hidden;
    .loader-container {
      display: flex;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $fw-headline;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

section {
  position: relative;
}
