* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,body {
  overflow-x: hidden;
  @include breakpoint(laptop_xs){
    overflow: hidden;
  }
  @include breakpoint(xshort){
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

a {
  text-decoration: none;
  color: $color--link;
}

body {
  margin: 0;
  background-color: $color--bg;
  @include adobeClean;
  color: $color--body;
  &.loading {
    overflow: hidden;
    .loader-container {
      display: flex;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $fw-headline;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

section {
  position: relative;
}

button,a {
  cursor: pointer;
}

.button {
  &-sm {
    border-radius: 16px;
    height: 32px;
    padding: 0 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include adobeClean();
    font-weight: bold;
    font-size: .875rem;
  }
  &-lt {
    border: 2px solid $color--white;
    color: $color--white;
    background-color: transparent;
    transition: all 300ms linear;
    &:hover {
      background-color: $color-button-bg-active;
      border-color: $color-button-bg-active;
      color: $color-button-text-active;
    }
  }
  &-dk {
    color: $color--white;
    background-color: #1473E6;
    transition: all 300ms linear;
    &:hover {
      background-color: #3992EA;
    }
  }
}