.sticky {
  position: sticky !important;
  top: 0;
}

.null {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
}

.scroll-sequence {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh; //vh should be the sum total of all sequences
}

.sequence-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.image-sequence {
  //position: sticky; //mh - not working?
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$header-height});
  padding-top: $header-height;
  @include flexCenter;
}

.canvas-wrapper {
  position: absolute;
  //z-index: //each canvas should have an inline incrementing z-index
  width: $design-width; //fullscreen design width
  height: $design-height; //fullscreen design height
}

.canvas {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.section {
  position: relative;
  background: transparent;
}

.sequence-container {
  .transform {
    &-sequence {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#section-transform {
  .transform {
    &-container {
      position: relative;
      width: 100%;
    }
    &-title-container {
      width: 630px;
      position: absolute;
      top: 24.5vh;
      left: 10vw;
    }
    &-title {
      font-size: 5.5rem;
      line-height: 81px;
      letter-spacing: -0.2px;
    }
    &-copy-p {
      color: $color--gray-lt;
      font-size: 2rem;
      line-height: 36px;
      font-weight: 300;
      margin-top: 1.8vh;
    }
    &-feature-list {
      margin-top: 3.6vh;
    }
    &-feature {
      font-size: 1.375rem;
      font-weight: bold;
    }
    &-panel {
      width: 18.75vw;
      left: 19vw;
      top: 0;
      position: absolute;
    }
    &-tools-container {
      position: absolute;
      top: 16.35vh;
      right: 9.375vw;
      width: 3.5vw;
    }
    &-masks-panel-container {
      position: absolute;
      top: 52.3vh;
      left: 40.5vw;
      width: 20vw;
    }
    &-blend-panel-container {
      position: absolute;
      top: 63vh;
      left: 60.875vw;
      width: 18.75vw;
    }
  }
}

#section-brushes {
  z-index: 20;
  position: relative; 
}

.intro {
  &-container {
    position: relative;
    z-index: 10;
  }
  &-image {
    //temp
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
