.screensize {
  &-container {
    position: fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-color: rgba(black,.9);
    @include breakpoint(laptop_xs){
      display: flex;
    }
  }
  &-warning {
    font-size: 4vw;
    width: 60vw;
    color: white;
    font-weight: 900;
    text-align: center;
  }
}

.fixed {
  &-section-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    button,a {
      pointer-events: all;
    }
  }
  &-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.brushes {
      z-index: 1;

      .brushes {
        &-video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &-content-container {
          position: absolute;
          bottom: 13.5vh;
          left: 0;
          width: 53vw;
          padding: 0 5vw;
        }
        &-content-inner {
          color: black;
          position: relative;
        }
        &-intro {
          margin-top: 20px;
          width: 31vw;
        }
        &-button-container {
          margin-top: 40px;
          @include breakpoint(short){
            margin-top: 20px;
          }
        }
        &-button {
          border: 1px solid $color--gray-dk;
          color: $color--gray-dk;
          background-color: transparent;
        }
      }
    }
    &.retouch {
      z-index: 2;
      .retouch {
        &-slider-container {
          width: 100%;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
        }
        &-slider-image-container {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          &.retouch-2 {
            z-index: 10;
            width: 0%;

          }
        }
        &-slider-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top right;
          position: absolute;
          top: 0;
          left: 0;
          &.retouch-image-2 {
            transform-origin: top right;
          }
        }
        &-sequence {
          position: absolute;
          z-index: 10;
          left: 0;
          top: 0;
          width: 100vw;
          height: 100vh;
          transform-origin: top right;
          canvas {
            @include coverFull();
            object-position: top right;
          }
        }
        &-title-line {
          display: block;
        }
        &-intro {
          margin-top: 2.25vh;
          width: 23vw;
          @include breakpoint(short){
            width: 26vw;
          }
        }
        &-content-container {
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          top: 0;
          left: 0;
          padding-left: 8.7vw;
          height: 100%;
          z-index: 10;
        }
        &-button {
          align-self: flex-start;
          margin-top: 2.25vh;
        }
      }
    }
  }
}

.null {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
  height: 0;
}

.button {
  &-sm {
    border-radius: 16px;
    height: 32px;
    padding: 0 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include adobeClean();
    font-weight: bold;
    font-size: .875rem;
  }
  &-lt {
    border: 1px solid $color--white;
    color: $color--white;
    background-color: transparent;
  }
}

.section-gradient {
  background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.scroll-sequence {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh; //vh should be the sum total of all sequences
}

.sequence-container {
  position: absolute;
  top: 0;
  height: 100vw;
  width: 100vh;
}

.image-sequence {
  //position: sticky; //mh - not working?
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$header-height});
  padding-top: $header-height;
  @include flexCenter;
}

.canvas-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.section {
  position: relative;
  background: transparent;
}

.sequence-container {
  .transform {
    &-sequence {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}




#section-intro {
  .intro {
    &-container {
      position: relative;
      z-index: 10;
      height: 100vh;
      overflow: hidden;
    }
    &-video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    &-video-gradient {
      z-index: 5;
    }
    &-content-container {
      position: absolute;
      z-index: 10;
      width: 33vw;
      top: 12vh;
      left: 9vw;
    }
    &-ps-logo {
      width: 4.875vw;
      @include breakpoint(short){
        width: 3.5vw;
      }
    }
    &-title {
      font-size: 5rem;
      line-height: 1em;
      letter-spacing: -.2px;
      margin-top: 4.5vh;
      @include breakpoint(laptop_sm){
        font-size: 4rem;
      }
      @include breakpoint(short){
        font-size: 4rem;
        margin-top: 3vh;
      }
    }
    &-p {
      //font-size: 2rem;
      font-size: 1.5rem;
      letter-spacing: -.2px;
      font-weight: 300;
      margin-top: 20px;
      @include breakpoint(laptop_sm){
        font-size: 1.2rem;
      }
    }
    &-buttons {
      margin-top: 7vh;
      display: flex;
      @include breakpoint(short){
        margin-top: 4vh;
      }
    }
    &-button {
      height: 44px;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include adobeClean;
      font-weight: bold;
      font-size: 1.25rem;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 22px;
      @include breakpoint(laptop_sm){
        font-size: 1rem;
      }
      &.buy {
        background-color: $color--button-active;
        border-color: $color--button-active;
        margin-left: 20px;
      }
    }
    &-subtext {
      margin-top: 20px;
      //font-size: 1.5625rem;
      font-size: 1.17rem;
      font-weight: 300;

    }
  }
}



.header {
  &-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
    will-change: transform;
    transition: transform 200ms linear;
    &:not(.headroom--top){
      position: fixed;
    }
    &.headroom--pinned {
      transform: translateY(0%);
    }
    &.headroom--unpinned {
      transform: translateY(-100%);
    }
  }

}

#section-transform {
  min-height: 100vh;
  .transform {
    &-sequence-container {
      @include absFull;
      canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        object-position: right center;
        background-color: black;
      }
    }
    &-container {
      position: relative;
      width: 100%;
    }
    &-title-container {
      width: 45vw;
      overflow: visible;
      position: absolute;
      top: 37.45vh;
      left: 10vw;
      @include breakpoint($bp-laptop-sm){
        font-size: 40rem;
      }
    }
    &-rotating-titles-container {
      position: relative;
      height: 140px;
    }
    &-rotating-title:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0;
    }

    &-copy-p {
      color: $color--gray-lt;
      margin-top: 2.2vh;
      //width: 26vw;
      width: 30vw;
    }
    &-button {
      margin-top: 2.9vh;
    }
    &-panel {
      width: 18.75vw;
      left: 19vw;
      top: 0;
      position: absolute;
    }

  }
}

#section-brushes {
  z-index: 20;
  .brushes {
    &-container {
      width: 100%;
      height: 100vh;
    }
  }
}

#section-retouch {
  z-index: 30;
}

#section-ipad {
  z-index: 40;
  .ipad {
    &-container {
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    &-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-content-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding-left: 9.7vw;
      width: 42vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $gradient-shade-dark;
    }
    &-intro {
      margin-top: 20px;
      //width: 25.5vw;
      max-width: 30vw;
    }
    &-button-container {
      margin-top: 5vh;
      display: flex;
      align-items: center;
    }
    &-app-store-logo {
      width: 120px;
    }
    &-learn-more-link {
      color: $color--white;
      text-decoration: underline;
      margin-left: 25px;
    }
  }
}

#section-whatsnew {
  .whatsnew {
    &-container {
      display: flex;
      justify-content: center;
      background-color: $color--white;
    }
    &-container-inner {
      width: 100%;
    }
  }
}



//https://tobiasahlin.com/spinkit/

.loader {
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
    display: none;
  }
  &-inner {
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity 300ms linear;
    @include flexCenter();
  }
}


.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}