.sticky {
  position: sticky !important;
  top: 0;
}

.null {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
  height: 0;
}

.button {
  &-sm {
    border-radius: 16px;
    height: 32px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adobeClean();
    font-weight: bold;
    font-size: .875rem;
  }
  &-lt {
    border: 1px solid $color--white;
    color: $color--white;
    background-color: transparent;
  }
}

.scroll-sequence {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh; //vh should be the sum total of all sequences
}

.sequence-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.image-sequence {
  //position: sticky; //mh - not working?
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$header-height});
  padding-top: $header-height;
  @include flexCenter;
}

.canvas-wrapper {
  position: absolute;
  //z-index: //each canvas should have an inline incrementing z-index
  width: $design-width; //fullscreen design width
  height: $design-height; //fullscreen design height
}

.canvas {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.section {
  position: relative;
  background: transparent;
}

.sequence-container {
  .transform {
    &-sequence {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


#section-intro {
  .intro {
    &-container {
      position: relative;
      z-index: 10;
    }
    &-video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    &-content-container {
      position: absolute;
      z-index: 10;
      width: 33vw;
      top: 12vh;
      left: 9vw;
    }
    &-ps-logo {
      width: 4.875vw;
    }
    &-title {
      font-weight: normal;
      font-size: 6.75rem;
      line-height: 1em;
      letter-spacing: -.2px;
      margin-top: 4.5vh;
      @include breakpoint(laptop){
        font-size: 5rem;
      }
    }
    &-p {
      font-size: 2rem;
      letter-spacing: -.2px;
      font-weight: 300;
      margin-top: 20px;
      @include breakpoint(laptop){
        font-size: 1.5rem;
      }
    }
    &-buttons {
      margin-top: 7vh;
      display: flex;
    }
    &-button {
      height: 44px;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include adobeClean;
      font-weight: bold;
      font-size: 1.25rem;
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 22px;
      &.buy {
        background-color: $color--button-active;
        border-color: $color--button-active;
        margin-left: 20px;
      }
    }
    &-subtext {
      margin-top: 20px;
      font-size: 1.5625rem;
      font-weight: 300;
      @include breakpoint(laptop){
        font-size: 1.17rem;
      }
    }
  }
}

.header {
  &-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
}

#section-transform {
  min-height: 100vh;
  .transform {
    &-container {
      position: relative;
      width: 100%;
    }
    &-title-container {
      width: 630px;
      position: absolute;
      top: 24.5vh;
      left: 10vw;
    }
    &-copy-p {
      color: $color--gray-lt;
      margin-top: 1.8vh;
      width: 26vw;
      @include breakpoint(laptop){
        width: 30vw;
      }
    }
    &-feature-list {
      margin-top: 3.6vh;
    }
    &-feature {
      font-size: 1.375rem;
      font-weight: bold;
    }
    &-panel {
      width: 18.75vw;
      left: 19vw;
      top: 0;
      position: absolute;
    }
    &-tools-container {
      position: absolute;
      top: 16.35vh;
      right: 9.375vw;
      width: 3.5vw;
    }
    &-masks-panel-container {
      position: absolute;
      top: 52.3vh;
      left: 40.5vw;
      width: 20vw;
    }
    &-blend-panel-container {
      position: absolute;
      top: 63vh;
      left: 60.875vw;
      width: 18.75vw;
    }
  }
}

#section-brushes {
  z-index: 20;
  .brushes {
    &-container {
      width: 100%;
      height: 100vh;
    }
    &-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-content-container {
      position: absolute;
      bottom: 6.8vh;
      left: 9.35vw;
      width: 43vw;
    }
    &-intro {
      margin-top: 20px;
      width: 31vw;
    }
    &-button-container {
      margin-top: 40px;
    }
    &-button {
      border: 1px solid $color--gray-dk;
      color: $color--white;
      background-color: $color--gray-dk;
    }
  }
}

#section-retouch {
  z-index: 30;
  &.slide { //this class present when you can slide the image slider
    .retouch-slide-handle-container {
      visibility: visible;
      opacity: 1;
    }
    .retouch-slide-handle {
      border: 10px solid rgba(white,1);
    }
  }
  .retouch {
    &-slide-handle-container {
      transition: opacity 300ms linear;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(50%,-50%);
      z-index: 10;
    }
    &-slide-handle {
      width: 50px;
      height: 50px;
      border: 0px solid rgba(white,0);
      border-radius: 50%;
      transform: translate(-50%,-50%);
      transition: border 300ms linear;
    }
    &-slider-container {
      width: 100%;
      height: 100vh;
      position: relative;
    }
    &-slider-image-container {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      &.retouch-2 {
        z-index: 10;
        width: 0%;

      }
    }
    &-slider-image {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      &.retouch-image-2 {
        transform-origin: 50% 0%;
      }
    }
    &-title-line {
      display: block;
    }
    &-intro {
      margin-top: 20px;
      width: 23vw;
    }
    &-content-container {
      position: absolute;
      top: 18vh;
      left: 8.7vw;
      z-index: 10;
      pointer-events: none;
      * { 
        user-select: none;
      }
    }
    &-button {
      margin-top: 40px;
      pointer-events: all;
    }
    &-tools-container {
      position: absolute;
      left: 38vw;
      top: 22vh;
      width: 3.5vw;
      z-index: 10;
    }
    &-brushes-container {
      left: 41.5vw;
      top: 45vh;
      width: 17.4vw;
      position: absolute;
      z-index: 20;
    }
    &-masks-container {
      left: 23.7vw;
      top: 40.6vh;
      width: 23.5vw;
      position: absolute;
      z-index: 30;
    }
    &-tools-container-2 {
      position: absolute;
      left: 15.2vw;
      top: 39vh;
      width: 7vw;
      z-index: 40;
    }
    &-pen-tools-container {
      position: absolute;
      left: 22.2vw;
      top: 50vh;
      width: 21.8vw;
      z-index: 50;
    }
    &-pen-options-container {
      position: absolute;
      left: 36.3vw;
      top: 5vh;
      width: 77.75vw;
      z-index: 60;
    }
  }
}

#section-ipad {
  z-index: 40;
  .ipad {
    &-container {
      width: 100%;
      height: 100vh;
    }
    &-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-content-container {
      position: absolute;
      top: 11.8vh;
      left: 9.7vw;
      width: 35.5vw;
      @include breakpoint(laptop){
        width: 45vw;
      }
    }
    &-intro {
      margin-top: 11vh;
      width: 25.5vw;
      @include breakpoint(laptop){
        width: 30vw;
      }
    }
    &-button-container {
      margin-top: 4.55vh;
      display: flex;
      align-items: center;
    }
    &-app-store-logo {
      width: 120px;
    }
    &-learn-more-link {
      color: $color--button-active;
      margin-left: 25px;
    }
  }
}

#section-whatsnew {
  .whatsnew {
    &-container {
      display: flex;
      justify-content: center;
      background-color: $color--white;
    }
    &-container-inner {
      width: 86vw;
    }
  }
}



//https://tobiasahlin.com/spinkit/

.loader {
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
    display: none;
  }
  &-inner {
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity 300ms linear;
    @include flexCenter();
  }
}


.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}