@mixin adobeClean(){
  font-family: "adobe-clean", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin willchange($change){
  @if ($change == o){
    will-change: opacity;
  }
  @if ($change == t){
    will-change: transform;
  }
  @if ($change == to){
    will-change: opacity, transform;
  }
}

@mixin breakpoint($point) {
  @if $point == laptop {
    @media (max-width: $bp-laptop) {
      @content;
    }
  }
  @if $point == laptop_sm {
    @media (max-width: $bp-laptop-sm) {
      @content;
    }
  }
  @if $point == laptop_xs {
    @media (max-width: $bp-laptop-xs) {
      @content;
    }
  }
  @if $point == gt_laptop {
    @media (min-width: $bp-laptop + 1px) {
      @content;
    }
  }
  @if $point == med_height {
    @media (max-height: $bp-med-height) {
      @content;
    }
  }
  @if $point == short {
    @media (max-height: $bp-short) {
      @content;
    }
  }
  @if $point == xshort {
    @media (max-height: $bp-xshort) {
      @content;
    }
  }

}
