@import "mixins";

.section-title {
  font-size: $fs-title;
  letter-spacing: -0.2px;
  line-height: 1em;
  @include willchange(to);

  /*
  @include breakpoint(laptop_sm){
    font-size: $fs-title-sm;
  }*/

  &--sm {
    color: black;
    font-size: 2.8rem;
    font-weight: $fw-headline;
    letter-spacing: -0.03em;
    text-align: center;
  }
}

.section-intro {
  font-size: $fs-body;
  font-weight: $fw-body;
  line-height: $lh-body;
  margin-top: $section-intro-margin-top;
  @include willchange(to);
  /*
  @include breakpoint(laptop){
    font-size: $fs-body-md;
  }
  @include breakpoint(laptop_sm){
    font-size: $fs-body-md;
  }*/
}

.btn-ctnr {
  text-align: center;
}

.btn, .adobe-button {
  border: solid 2px black;
  border-radius: 1.5rem;
  color: black;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 0 1.5rem;
  transition: background-color 0.1s, border-color 0.1s, color 0.1s;
  transition-timing-function: ease;

  &:hover {
    background-color: #d6d6d6;
    border-color: #d6d6d6;
    color: #323232;
  }

  &--is-raised {
    background-color: #1473e6;
    color: #ffffff;
    border-color: #1473e6;

    &:hover {
      background-color: #005abe;
      border-color: #005abe;
      color: #ffffff;
    }
  }
}