* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: black;
  font-family: "adobe-clean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  overflow-x: hidden;
}
body.loading {
  overflow: hidden;
}
body.loading .loader-container {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

section {
  position: relative;
}

.section-title {
  font-size: 5.5rem;
  line-height: 5.0625rem;
  letter-spacing: -0.2px;
}
@media (max-width: 1440px) {
  .section-title {
    font-size: 5rem;
    line-height: 4.5rem;
  }
}

.section-intro {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 300;
}
@media (max-width: 1440px) {
  .section-intro {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

.sticky {
  position: sticky !important;
  top: 0;
}

.null {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
  height: 0;
}

.button-sm {
  border-radius: 16px;
  height: 32px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "adobe-clean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}
.button-lt {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.scroll-sequence {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
}

.sequence-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.image-sequence {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 0px);
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.canvid {
  width: 100%;
  height: 100vh;
}
.canvid canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  position: relative;
  background: transparent;
}

.sequence-container .transform-sequence {
  position: absolute;
  top: 0;
  left: 0;
}

#section-intro .intro-container {
  position: relative;
  z-index: 10;
}
#section-intro .intro-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#section-intro .intro-content-container {
  position: absolute;
  z-index: 10;
  width: 33vw;
  top: 12vh;
  left: 9vw;
}
#section-intro .intro-ps-logo {
  width: 4.875vw;
}
#section-intro .intro-title {
  font-weight: normal;
  font-size: 5rem;
  line-height: 1em;
  letter-spacing: -0.2px;
  margin-top: 4.5vh;
}
#section-intro .intro-p {
  font-size: 1.5rem;
  letter-spacing: -0.2px;
  font-weight: 300;
  margin-top: 20px;
}
#section-intro .intro-buttons {
  margin-top: 7vh;
  display: flex;
}
#section-intro .intro-button {
  height: 44px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "adobe-clean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 22px;
}
#section-intro .intro-button.buy {
  background-color: #1473E6;
  border-color: #1473E6;
  margin-left: 20px;
}
#section-intro .intro-subtext {
  margin-top: 20px;
  font-size: 1.17rem;
  font-weight: 300;
}

.header-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

#section-transform {
  min-height: 100vh;
}
#section-transform .transform-sequence-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#section-transform .transform-sequence-container .canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#section-transform .transform-container {
  position: relative;
  width: 100%;
}
#section-transform .transform-title-container {
  width: 630px;
  position: absolute;
  top: 24.5vh;
  left: 10vw;
}
#section-transform .transform-copy-p {
  color: #e7e7e7;
  margin-top: 1.8vh;
  width: 30vw;
}
#section-transform .transform-feature-list {
  margin-top: 3.6vh;
}
#section-transform .transform-feature {
  font-size: 1.375rem;
  font-weight: bold;
}
#section-transform .transform-panel {
  width: 18.75vw;
  left: 19vw;
  top: 0;
  position: absolute;
}
#section-transform .transform-tools-container {
  position: absolute;
  top: 16.35vh;
  right: 9.375vw;
  width: 3.5vw;
}
#section-transform .transform-masks-panel-container {
  position: absolute;
  top: 52.3vh;
  left: 40.5vw;
  width: 20vw;
}
#section-transform .transform-blend-panel-container {
  position: absolute;
  top: 63vh;
  left: 60.875vw;
  width: 18.75vw;
}

#section-brushes {
  z-index: 20;
}
#section-brushes .brushes-container {
  width: 100%;
  height: 100vh;
}
#section-brushes .brushes-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section-brushes .brushes-content-container {
  position: absolute;
  bottom: 6.8vh;
  left: 9.35vw;
  width: 43vw;
}
#section-brushes .brushes-intro {
  margin-top: 20px;
  width: 31vw;
}
#section-brushes .brushes-button-container {
  margin-top: 40px;
}
#section-brushes .brushes-button {
  border: 1px solid #505050;
  color: white;
  background-color: #505050;
}

#section-retouch {
  z-index: 30;
}
#section-retouch .retouch-slider-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
#section-retouch .retouch-slider-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
#section-retouch .retouch-slider-image-container.retouch-2 {
  z-index: 10;
  width: 0%;
}
#section-retouch .retouch-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  position: absolute;
  top: 0;
  left: 0;
}
#section-retouch .retouch-slider-image.retouch-image-2 {
  transform-origin: top right;
}
#section-retouch .retouch-sequence {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-origin: top right;
}
#section-retouch .retouch-sequence canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}
#section-retouch .retouch-title-line {
  display: block;
}
#section-retouch .retouch-intro {
  margin-top: 20px;
  width: 23vw;
}
#section-retouch .retouch-content-container {
  position: absolute;
  top: 18vh;
  left: 8.7vw;
  z-index: 10;
  pointer-events: none;
}
#section-retouch .retouch-content-container * {
  user-select: none;
}
#section-retouch .retouch-button {
  margin-top: 40px;
  pointer-events: all;
}
#section-retouch .retouch-tools-container {
  position: absolute;
  left: 38vw;
  top: 22vh;
  width: 3.5vw;
  z-index: 10;
}
#section-retouch .retouch-brushes-container {
  left: 41.5vw;
  top: 45vh;
  width: 17.4vw;
  position: absolute;
  z-index: 20;
}
#section-retouch .retouch-masks-container {
  left: 23.7vw;
  top: 40.6vh;
  width: 23.5vw;
  position: absolute;
  z-index: 30;
}
#section-retouch .retouch-tools-container-2 {
  position: absolute;
  left: 15.2vw;
  top: 39vh;
  width: 7vw;
  z-index: 40;
}
#section-retouch .retouch-pen-tools-container {
  position: absolute;
  left: 22.2vw;
  top: 50vh;
  width: 21.8vw;
  z-index: 50;
}
#section-retouch .retouch-pen-options-container {
  position: absolute;
  left: 36.3vw;
  top: 0vh;
  width: 77.75vw;
  z-index: 60;
}

#section-ipad {
  z-index: 40;
}
#section-ipad .ipad-container {
  width: 100%;
  height: 100vh;
}
#section-ipad .ipad-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section-ipad .ipad-content-container {
  position: absolute;
  top: 11.8vh;
  left: 9.7vw;
  width: 45vw;
}
#section-ipad .ipad-intro {
  margin-top: 11vh;
  width: 30vw;
}
#section-ipad .ipad-button-container {
  margin-top: 4.55vh;
  display: flex;
  align-items: center;
}
#section-ipad .ipad-app-store-logo {
  width: 120px;
}
#section-ipad .ipad-learn-more-link {
  color: #1473E6;
  margin-left: 25px;
}

#section-whatsnew .whatsnew-container {
  display: flex;
  justify-content: center;
  background-color: white;
}
#section-whatsnew .whatsnew-container-inner {
  width: 86vw;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  display: none;
}
.loader-inner {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: opacity 300ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
