@font-face {
  font-family: "AdobeClean";
  src: url("../assets/fonts/AdobeClean-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "AdobeClean";
  src: url("../assets/fonts/AdobeClean-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "AdobeClean";
  src: url("../assets/fonts/AdobeClean-Light.otf");
  font-weight: 300;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: black;
  font-family: "AdobeClean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.sticky {
  position: sticky !important;
  top: 0;
}

.null {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
}

.scroll-sequence {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
}

.sequence-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.image-sequence {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 0px);
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-wrapper {
  position: absolute;
  width: 1677px;
  height: 1105px;
}

.canvas {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.section {
  position: relative;
  background: transparent;
}

.sequence-container .transform-sequence {
  position: absolute;
  top: 0;
  left: 0;
}

#section-transform .transform-container {
  position: relative;
  width: 100%;
}
#section-transform .transform-title-container {
  width: 630px;
  position: absolute;
  top: 24.5vh;
  left: 10vw;
}
#section-transform .transform-title {
  font-size: 5.5rem;
  line-height: 81px;
  letter-spacing: -0.2px;
}
#section-transform .transform-copy-p {
  color: #e7e7e7;
  font-size: 2rem;
  line-height: 36px;
  font-weight: 300;
  margin-top: 1.8vh;
}
#section-transform .transform-feature-list {
  margin-top: 3.6vh;
}
#section-transform .transform-feature {
  font-size: 1.375rem;
  font-weight: bold;
}
#section-transform .transform-panel {
  width: 18.75vw;
  left: 19vw;
  top: 0;
  position: absolute;
}
#section-transform .transform-tools-container {
  position: absolute;
  top: 16.35vh;
  right: 9.375vw;
  width: 3.5vw;
}
#section-transform .transform-masks-panel-container {
  position: absolute;
  top: 52.3vh;
  left: 40.5vw;
  width: 20vw;
}
#section-transform .transform-blend-panel-container {
  position: absolute;
  top: 63vh;
  left: 60.875vw;
  width: 18.75vw;
}

#section-brushes {
  z-index: 20;
  position: relative;
}

.intro-container {
  position: relative;
  z-index: 10;
}
.intro-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.intro-content-container {
  position: absolute;
  z-index: 10;
  width: 33vw;
  top: 12vh;
  left: 9vw;
}
.intro-ps-logo {
  width: 4.875vw;
}
.intro-title {
  font-weight: normal;
  font-size: 6.75rem;
  line-height: 1em;
  letter-spacing: -0.2px;
  margin-top: 4.5vh;
}
.intro-p {
  font-size: 2rem;
  letter-spacing: -0.2px;
  font-weight: 300;
  margin-top: 20px;
}
.intro-buttons {
  margin-top: 7vh;
  display: flex;
}
.intro-button {
  height: 44px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AdobeClean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 22px;
}
.intro-button.buy {
  background-color: #1473E6;
  border-color: #1473E6;
  margin-left: 20px;
}
.intro-subtext {
  margin-top: 20px;
  font-size: 1.5625rem;
  font-weight: 300;
}

.header-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
