* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: black;
  font-family: "adobe-clean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  overflow-x: hidden;
}
body.loading {
  overflow: hidden;
}
body.loading .loader-container {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

section {
  position: relative;
}

.section-title {
  font-size: 5.5rem;
  line-height: 5.0625rem;
  letter-spacing: -0.2px;
}
@media (max-width: 1440px) {
  .section-title {
    font-size: 5rem;
    line-height: 4.5rem;
  }
}
.section-title--sm {
  color: black;
  font-size: 2.8rem;
  font-weight: 900;
  letter-spacing: -0.03em;
  text-align: center;
}

.section-intro {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 300;
}
@media (max-width: 1440px) {
  .section-intro {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

.btn-ctnr {
  text-align: center;
}

.btn, .adobe-button {
  border: solid 2px black;
  border-radius: 1.5rem;
  color: black;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 0 1.5rem;
  transition: background-color 0.1s, border-color 0.1s, color 0.1s;
  transition-timing-function: ease;
}
.btn:hover, .adobe-button:hover {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
  color: #323232;
}
.btn--is-raised, .adobe-button--is-raised {
  background-color: #1473e6;
  color: #ffffff;
  border-color: #1473e6;
}
.btn--is-raised:hover, .adobe-button--is-raised:hover {
  background-color: #005abe;
  border-color: #005abe;
  color: #ffffff;
}

.sticky {
  position: sticky !important;
  top: 0;
}

.null {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  pointer-events: none;
  height: 0;
}

.button-sm {
  border-radius: 16px;
  height: 32px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "adobe-clean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}
.button-lt {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.scroll-sequence {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
}

.sequence-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.image-sequence {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 0px);
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.canvid {
  width: 100%;
  height: 100%;
}
.canvid canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  position: relative;
  background: transparent;
}

.sequence-container .transform-sequence {
  position: absolute;
  top: 0;
  left: 0;
}

#section-intro .intro-container {
  position: relative;
  z-index: 10;
}
#section-intro .intro-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#section-intro .intro-content-container {
  position: absolute;
  z-index: 10;
  width: 33vw;
  top: 12vh;
  left: 9vw;
}
#section-intro .intro-ps-logo {
  width: 4.875vw;
}
#section-intro .intro-title {
  font-weight: normal;
  font-size: 5rem;
  line-height: 1em;
  letter-spacing: -0.2px;
  margin-top: 4.5vh;
}
#section-intro .intro-p {
  font-size: 1.5rem;
  letter-spacing: -0.2px;
  font-weight: 300;
  margin-top: 20px;
}
#section-intro .intro-buttons {
  margin-top: 7vh;
  display: flex;
}
#section-intro .intro-button {
  height: 44px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "adobe-clean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 22px;
}
#section-intro .intro-button.buy {
  background-color: #1473E6;
  border-color: #1473E6;
  margin-left: 20px;
}
#section-intro .intro-subtext {
  margin-top: 20px;
  font-size: 1.17rem;
  font-weight: 300;
}

.header-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

#section-transform {
  min-height: 100vh;
}
#section-transform .transform-container {
  position: relative;
  width: 100%;
}
#section-transform .transform-title-container {
  width: 630px;
  position: absolute;
  top: 24.5vh;
  left: 10vw;
}
#section-transform .transform-copy-p {
  color: #e7e7e7;
  margin-top: 1.8vh;
  width: 30vw;
}
#section-transform .transform-feature-list {
  margin-top: 3.6vh;
}
#section-transform .transform-feature {
  font-size: 1.375rem;
  font-weight: bold;
}
#section-transform .transform-panel {
  width: 18.75vw;
  left: 19vw;
  top: 0;
  position: absolute;
}
#section-transform .transform-tools-container {
  position: absolute;
  top: 16.35vh;
  right: 9.375vw;
  width: 3.5vw;
}
#section-transform .transform-masks-panel-container {
  position: absolute;
  top: 52.3vh;
  left: 40.5vw;
  width: 20vw;
}
#section-transform .transform-blend-panel-container {
  position: absolute;
  top: 63vh;
  left: 60.875vw;
  width: 18.75vw;
}

#section-brushes {
  z-index: 20;
}
#section-brushes .brushes-container {
  width: 100%;
  height: 100vh;
}
#section-brushes .brushes-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section-brushes .brushes-content-container {
  position: absolute;
  bottom: 6.8vh;
  left: 9.35vw;
  width: 43vw;
}
#section-brushes .brushes-intro {
  margin-top: 20px;
  width: 31vw;
}
#section-brushes .brushes-button-container {
  margin-top: 40px;
}
#section-brushes .brushes-button {
  border: 1px solid #505050;
  color: white;
  background-color: #505050;
}

#section-retouch {
  z-index: 30;
}
#section-retouch .retouch-slider-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
#section-retouch .retouch-slider-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
#section-retouch .retouch-slider-image-container.retouch-2 {
  z-index: 10;
  width: 0%;
}
#section-retouch .retouch-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  position: absolute;
  top: 0;
  left: 0;
}
#section-retouch .retouch-slider-image.retouch-image-2 {
  transform-origin: top right;
}
#section-retouch .retouch-sequence {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
#section-retouch .retouch-sequence canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}
#section-retouch .retouch-title-line {
  display: block;
}
#section-retouch .retouch-intro {
  margin-top: 20px;
  width: 23vw;
}
#section-retouch .retouch-content-container {
  position: absolute;
  top: 18vh;
  left: 8.7vw;
  z-index: 10;
  pointer-events: none;
}
#section-retouch .retouch-content-container * {
  user-select: none;
}
#section-retouch .retouch-button {
  margin-top: 40px;
  pointer-events: all;
}
#section-retouch .retouch-tools-container {
  position: absolute;
  left: 38vw;
  top: 22vh;
  width: 3.5vw;
  z-index: 10;
}
#section-retouch .retouch-brushes-container {
  left: 41.5vw;
  top: 45vh;
  width: 17.4vw;
  position: absolute;
  z-index: 20;
}
#section-retouch .retouch-masks-container {
  left: 23.7vw;
  top: 40.6vh;
  width: 23.5vw;
  position: absolute;
  z-index: 30;
}
#section-retouch .retouch-tools-container-2 {
  position: absolute;
  left: 15.2vw;
  top: 39vh;
  width: 7vw;
  z-index: 40;
}
#section-retouch .retouch-pen-tools-container {
  position: absolute;
  left: 22.2vw;
  top: 50vh;
  width: 21.8vw;
  z-index: 50;
}
#section-retouch .retouch-pen-options-container {
  position: absolute;
  left: 36.3vw;
  top: 0vh;
  width: 77.75vw;
  z-index: 60;
}

#section-ipad {
  z-index: 40;
}
#section-ipad .ipad-container {
  width: 100%;
  height: 100vh;
}
#section-ipad .ipad-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section-ipad .ipad-content-container {
  position: absolute;
  top: 11.8vh;
  left: 9.7vw;
  width: 45vw;
}
#section-ipad .ipad-intro {
  margin-top: 11vh;
  width: 30vw;
}
#section-ipad .ipad-button-container {
  margin-top: 4.55vh;
  display: flex;
  align-items: center;
}
#section-ipad .ipad-app-store-logo {
  width: 120px;
}
#section-ipad .ipad-learn-more-link {
  color: #1473E6;
  margin-left: 25px;
}

#section-whatsnew .whatsnew-container {
  display: flex;
  justify-content: center;
  background-color: white;
}
#section-whatsnew .whatsnew-container-inner {
  width: 100%;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  display: none;
}
.loader-inner {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: opacity 300ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.wn-cards {
  color: black;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 30px;
}
.wn-cards__headline {
  margin: 100px auto;
}
.wn-cards__subhead {
  color: #001D26;
  font-size: 1.25rem;
  margin: 20px 0 0 10px;
  text-transform: uppercase;
}
.wn-cards__copy {
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 10px;
}
.wn-cards__grid {
  columns: auto 3;
  column-gap: 20px;
}
.wn-cards__card {
  break-inside: avoid;
  padding-bottom: 60px;
}

.wn-grid {
  color: black;
  max-width: 1082px;
  padding: 86px 30px;
  margin: 0 auto;
}

.adobe-select {
  font-family: "adobe-clean", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 28px;
  font-weight: 400;
  padding: 10px 54px 14px 22px;
  background-color: #ebebeb;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 0;
  background-image: url(https://photoshop.com/en/static/images/chevron-down.png);
  background-position: center right 16px;
  background-repeat: no-repeat;
  background-size: 24px;
  max-width: 100%;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.adobe-article-grid {
  box-sizing: content-box;
}
.adobe-article-grid__header {
  text-align: center;
}
.adobe-article-grid__actions {
  text-align: center;
}
.adobe-article-grid__filter {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 20px;
}
.adobe-article-grid__filter > span {
  font-size: 1.625rem;
  font-weight: 700;
  margin-right: 10px;
}
.adobe-article-grid__grid-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}
.adobe-article-grid__grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 -64px;
}
.adobe-article-grid__grid-cell {
  width: 50%;
  padding: 32px;
  box-sizing: border-box;
}
.adobe-article-grid .adobe-article {
  height: 100%;
  position: relative;
}
.adobe-article-grid .adobe-article__background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  background-color: #d6d9e0;
}
.adobe-article-grid .adobe-article__content {
  background-color: #ffffff;
  color: #505050;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  padding: 32px 20px;
}
.adobe-article-grid .adobe-article__link {
  display: block;
}
.adobe-article-grid .adobe-article__topline {
  font-weight: 900;
  font-size: 1.1875rem;
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.adobe-article-grid .adobe-article__title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0 0 10px;
}
.adobe-article-grid .adobe-article__link:active .adobe-article__title, .adobe-article-grid .adobe-article__link:focus .adobe-article__title, .adobe-article-grid .adobe-article__link:hover .adobe-article__title {
  text-decoration: underline;
}

.wn-inc {
  background: #F5F5F5;
  color: black;
  padding: 70px 30px;
}
.wn-inc__ctnr {
  margin: 0 auto;
  max-width: 1160px;
}
.wn-inc__title {
  margin-bottom: 25px;
}
.wn-inc__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wn-inc__item {
  align-items: flex-start;
  display: flex;
  margin: 25px 0;
  width: calc(33.333% - 50px);
}
.wn-inc__subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.wn-inc__icon {
  margin-right: 20px;
  width: 48px;
}
.wn-inc__actions {
  text-align: center;
}
.wn-inc__actions a {
  color: #1473E6;
}

.wn-plans {
  max-width: 1160px;
  padding: 90px 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
.wn-plans .section-title {
  font-size: 2.25rem;
  margin: 0;
}

.adobe-plan-grid__grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 20px;
  margin: 0 -40px;
  box-sizing: border-box;
}

.adobe-plan-grid__actions {
  text-align: center;
}

.adobe-plan-grid__grid-cell {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}

.adobe-plan {
  color: black;
  height: 100%;
  position: relative;
  border-radius: 4px;
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
}
.adobe-plan__content {
  padding: 20px 16px;
  box-sizing: border-box;
  line-height: 1.3;
}
.adobe-plan__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 22px;
}
.adobe-plan__description {
  margin: 0 0 10px;
  opacity: 0.8;
  line-height: 1.4em;
}
.adobe-plan__price {
  font-weight: 700;
  margin-bottom: 10px;
}
.adobe-plan a {
  text-decoration: none;
  color: #1473e6;
}

.wn-products {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px 86px;
  box-sizing: border-box;
}
.wn-products .section-title {
  font-size: 1.75rem;
}

.adobe-card-block__grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 -40px;
}
.adobe-card-block__grid-item {
  width: 33.33333%;
  padding: 20px;
  box-sizing: border-box;
}

.adobe-card {
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: relative;
  background-color: #ffffff;
  color: #2c2c2c;
  border: 1px solid #cccccc;
}
.adobe-card__background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 56.25%;
}
.adobe-card__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: relative;
  padding: 40px 20px 20px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.adobe-card__devices {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 15px;
  padding: 5px 0;
}
.adobe-card__device {
  box-sizing: content-box;
  height: 20px;
  width: auto;
  padding: 5px;
}
.adobe-card__icon {
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.adobe-card__caption {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 0 0 20px;
}
.adobe-card__actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 20px 0 0;
  border-top: 1px solid #dddddd;
}

.wn-cc {
  color: black;
  text-align: center;
}
.wn-cc__icon {
  width: 75px;
}
.wn-cc__title {
  line-height: 1em;
  margin: 25px 0;
}
.wn-cc__desc {
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 520px;
}
.wn-cc a {
  color: #1473E6;
  display: inline-block;
  margin-top: 30px;
}

.filter--experienced {
  display: none;
}

.adobe-article-grid__grid-cell {
  display: none;
}

/*# sourceMappingURL=main.css.map */
